{% extends "base.html" %}

{% block content %}

    {% if form.errors and form.non_field_errors %}
        {{form.non_field_errors}}
    {% endif %}
    <body class="login-page">
        
    
    <form action="" method="post">
        {% csrf_token %}
        <label for="username" class="form-label">Username</label>
        {{form.username.errors}}
        <input type="text" name="username" class="form-control">

        <label for="password" class="form-label">password</label>
        {{form.password.errors}}
        <input type="password" name="password" class="form-control" id="password">

        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </body>

{% endblock content %}